
/*

The fonts themselves are from Google Fonts and this file is

Copyright (c) 2015 Théo Friberg

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('assets/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('assets/Muli-Regular.ttf') format('truetype');
}

body{
  text-align: center;
  position: relative;
}

h1{
  margin-top: 1em;
  font-size: 4em;
  font-family: Lora;
}

p{
  font-size: 2.5em;
  margin-top: 5em;
  font-family: Muli
}

button{
  font-size: 2em;
  margin-top: 1.5em;
  background: linear-gradient(to bottom, #49a1e5 1%, #1e5799 100%);
  border-style: none;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.3em;
  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.26);
  font-family: Muli;
}

button:hover {
  background: linear-gradient(to bottom, #7db9e8 0%,#1e5799 99%);
}

button:active {
  background: linear-gradient(to bottom, #2d95e5 0%,#004799 100%);
}

button:focus {
  outline: 0;
}

button:disabled {
  background: linear-gradient(to bottom, #e2e2e2 0%,#d6d6d6 100%);
  color: #BCBCBC;
}

.link {
  text-decoration: underline;
  color: seagreen;
  font-family: Lora;
}